%h1 admin

%hr/

%h2 stash bins

%form#create-stashbin{:action => '/admin', :method => 'post'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-stashbin'}
  %input{:name => 'name'}
  %input{:type => 'submit', :value => "Create Stash Bin"}

%table
  %tr
    %th name
    %th wips
    %th delete
  - @bins.each do |bin|
    %tr
      %td
        %a{:href => "/stashspace/#{bin.url_name}" }= bin.name
      %td= bin.wips.size
      %td
        %form{:action => "/admin", :method => 'post'}
          %input{:type => 'hidden', :name => 'task', :value => 'delete-stashbin'}
          %input{:type => 'hidden', :name => 'name', :value => bin.name }
          %input{:type => 'submit', :value => "Delete"}

%hr/

%h2 accounts

%form#create-account{:action => '/admin', :method => 'post'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-account'}
  %input{:name => 'id', :value =>"account id"}
  %input{:name => 'description', :value =>"account description"}
  %input{:type => 'submit', :value => "Create Account"}

- if @accounts.any?
  %table
    %tr
      %th id
      %th description
      %th delete

    - @accounts.each do |a|
      %tr
        %td= a.id
        %td= a.description
        %td
          - unless a.id == Archive::SYSTEM_ACCOUNT_ID
            %form{:action => "/admin", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'delete-account'}
              %input{:type => 'hidden', :name => 'id', :value => a.id }
              %input{:type => 'submit', :value => "Delete"}

%hr/

%h2 projects

%form#create-project{:action => '/admin', :method => 'POST'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-project'}
  %select{:name=>'account_id'}
    - @accounts.each do |a|
      %option= a.id
  %input{:name => 'id', :value=>"project id"}
  %input{:name => 'description', :value=>"project description"}
  %input{:type => 'submit', :value => 'Create project'}

- if @projects.any?
  %table
    %tr
      %th id
      %th description
      %th account
      %th delete

    - @projects.each do |p|
      %tr
        %td= p.id
        %td= p.description
        %td= p.account.id
        %td
          %form{:action => "/admin", :method => 'post'}
            %input{:type => 'hidden', :name => 'task', :value => 'delete-project'}
            %input{:type => 'hidden', :name => 'id', :value => p.id }
            %input{:type => 'hidden', :name => 'account_id', :value => p.account.id }
            %input{:type => 'submit', :value => "Delete"}

%hr/

%h2 users

%form#create-user{:action => '/admin', :method => 'POST'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-user'}
  %select{:name=>'type'}
    %option= 'operator'
    %option= 'affiliate'

  %select{:name=>'account'}
    - @accounts.each do |p|
      %option= p.id
  %input{:name => 'id', :value => "id"}
  %input{:name => 'first_name', :value => "first name"}
  %input{:name => 'last_name', :value => "last name"}
  %input{:name => 'email', :value => "email address"}
  %input{:name => 'phone', :value => "phone number"}
  %input{:name => 'address', :value => "mailing address"}
  %input{:type => 'submit', :value => 'Create User'}

- if @users.any?
  %table
    %tr
      %th type
      %th account
      %th username
      %th last name
      %th first name
      %th email
      %th phone
      %th address

    - @users.each do |u|
      %tr
        %td= u.type
        %td= u.account.description
        %td= u.id
        %td= u.last_name
        %td= u.first_name
        %td= u.email
        %td= u.phone
        %td= u.address
        %td
          %form{:action => '/admin', :method => 'POST'}
            %input{:type => 'hidden', :name => 'task', :value => 'delete-user'}
            %input{:type => 'hidden', :name => 'id', :value => u.id }
            %input{:type => 'submit', :value => "Delete"}

