%h2 create new user

%form#create-user{:action => '/admin', :method => 'POST'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-user'}

  %table
    %tr
      %th type
      %td
        %select{:name=>'type', :id=>'user-type'}
          %option= 'operator'
          %option= 'affiliate'

    %tr
      %th account
      %td
        %select{:name=>'account_id', :id=>'user-account'}
          - @accounts.each do |p|
            %option= p.id

    %tr.affiliate
      %th permissions (affiliate only)
      %td
        %input{:name => 'disseminate_perm', :type => 'checkbox'} disseminate
        %input{:name => 'withdraw_perm', :type => 'checkbox'} withdraw
        %input{:name => 'peek_perm', :type => 'checkbox'} peek
        %input{:name => 'submit_perm', :type => 'checkbox'} submit
        %input{:name => 'report_perm', :type => 'checkbox'} report
    %tr.affiliate
      %th designation (affiliate only)
      %td
        %input{:name => 'is_admin', :type => 'checkbox'} admin contact
        %input{:name => 'is_tech', :type => 'checkbox'} tech contact
      
    %tr
      %th id
      %td
        %input{:name => 'id'}

    %tr
      %th password
      %td
        %input{:name => 'password', :type => 'password'}

    %tr
      %th first
      %td
        %input{:name => 'first_name'}

    %tr
      %th last
      %td
        %input{:name => 'last_name'}

    %tr
      %th email
      %td
        %input{:name => 'email'}

    %tr
      %th phone
      %td
        %input{:name => 'phone'}

    %tr
      %th address
      %td
        %textarea{:name => 'address'}

  %input{:type => 'submit', :value => 'Create User'}

%h2
  existing users

- if @users.any?
  %table
    %tr
      %th type
      %th account
      %th username
      %th last name
      %th first name
      %th permissions
      %th email
      %th phone
      %th address
      %th designations
      %th{:colspan => 1} actions

    - @users.each do |u|
      - next if u.deleted_at
      %tr
        %td= u.type.name[ /^Daitss::(\w+)$/, 1].downcase rescue u.type.name
        %td&= u.account.id
        %td&= u.id
        %td&= u.last_name
        %td&= u.first_name
        %td= u.type == Contact ? u.permissions.join(" ") : "N/A"
        %td&= u.email
        %td&= u.phone
        %td&= u.address
        %td= (u.is_tech_contact ? "Technical Contact\n" : "") + (u.is_admin_contact ? "Admin Contact" : "")
        %td
          %a{:href => "/admin/users/#{u.id}"}
            modify

%h2
  inactive (deleted) users

- if @users.any?
  %table
    %tr
      %th type
      %th account
      %th username
      %th last name
      %th first name
      %th permissions
      %th email
      %th phone
      %th address
      %th designations
      %th{:colspan => 4} actions

    - @users.each do |u|
      - next if !u.deleted?
      %tr
        %td= u.type.name[ /^Daitss::(\w+)$/, 1].downcase rescue u.type.name
        %td&= u.account.id
        %td&= u.id
        %td&= u.last_name
        %td&= u.first_name
        %td= u.type == Contact ? u.permissions.join(" ") : "N/A"
        %td&= u.email
        %td&= u.phone
        %td&= u.address
        %td= (u.is_tech_contact ? "Technical Contact\n" : "") + (u.is_admin_contact ? "Admin Contact" : "")
        %td
          %a{:href => "/admin/users/#{u.id}"}
            modify


