%h2 create new user

%form#create-user{:action => '/admin', :method => 'POST'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-user'}

  %table
    %tr
      %th type
      %td
        %select{:name=>'type'}
          %option= 'operator'
          %option= 'affiliate'

    %tr
      %th account
      %td
        %select{:name=>'account_id'}
          - @accounts.each do |p|
            %option= p.id

    %tr
      %th permissions
      %td
        %input{:name => 'disseminate_perm', :type => 'checkbox', :checked => 'true'} disseminate
        %input{:name => 'withdraw_perm', :type => 'checkbox', :checked => 'true'} withdraw
        %input{:name => 'peek_perm', :type => 'checkbox', :checked => 'true'} peek
        %input{:name => 'submit_perm', :type => 'checkbox', :checked => 'true'} submit
        %input{:name => 'report_perm', :type => 'checkbox', :checked => 'true'} report

    %tr
      %th id
      %td
        %input{:name => 'id'}

    %tr
      %th password
      %td
        %input{:name => 'password', :type => 'password'}

    %tr
      %th first
      %td
        %input{:name => 'first_name'}

    %tr
      %th last
      %td
        %input{:name => 'last_name'}

    %tr
      %th email
      %td
        %input{:name => 'email'}

    %tr
      %th phone
      %td
        %input{:name => 'phone'}

    %tr
      %th address
      %td
        %textarea{:name => 'address'}

  %input{:type => 'submit', :value => 'Create User'}

%h2
  existing users

- if @users.any?
  %table
    %tr
      %th type
      %th account
      %th username
      %th last name
      %th first name
      %th permissions
      %th email
      %th phone
      %th address
      %th designations
      %th{:colspan => 4} actions

    - @users.each do |u|
      - next if u.deleted_at
      %tr
        %td= u.type.name[ /^Daitss::(\w+)$/, 1].downcase rescue u.type.name
        %td&= u.account.id
        %td&= u.id
        %td&= u.last_name
        %td&= u.first_name
        %td= u.type == Contact ? u.permissions.join(" ") : "N/A"
        %td&= u.email
        %td&= u.phone
        %td&= u.address
        %td= (u.is_tech_contact ? "Technical Contact\n" : "") + (u.is_admin_contact ? "Admin Contact" : "")
        %td
          %a{:href => "/admin/users/#{u.id}"}
            modify
        %td
          %form{:action => '/admin', :method => 'POST'}
            %input{:type => 'hidden', :name => 'task', :value => 'delete-user'}
            %input{:type => 'hidden', :name => 'id', :value => u.id }
            %input{:type => 'submit', :value => "Delete", :onClick => "return confirmClick();" }
        - if u.type == Contact
          - unless u.is_admin_contact
            %td
              %form{:action => '/admin', :method => 'POST'}
                %input{:type => 'hidden', :name => 'task', :value => 'make-admin-contact'}
                %input{:type => 'hidden', :name => 'id', :value => u.id }
                %input{:type => 'submit', :value => "Make admin contact"}
          - else
            %td
              %form{:action => '/admin', :method => 'POST'}
                %input{:type => 'hidden', :name => 'task', :value => 'unmake-admin-contact'}
                %input{:type => 'hidden', :name => 'id', :value => u.id }
                %input{:type => 'submit', :value => "Unmake admin contact"}
          - unless u.is_tech_contact
            %td
              %form{:action => '/admin', :method => 'POST'}
                %input{:type => 'hidden', :name => 'task', :value => 'make-tech-contact'}
                %input{:type => 'hidden', :name => 'id', :value => u.id }
                %input{:type => 'submit', :value => "Make technical contact"}
          - else
            %td
              %form{:action => '/admin', :method => 'POST'}
                %input{:type => 'hidden', :name => 'task', :value => 'unmake-tech-contact'}
                %input{:type => 'hidden', :name => 'id', :value => u.id }
                %input{:type => 'submit', :value => "Unmake technical contact"}
        - else
          %td &nbsp;
          %td &nbsp;

%h2
  inactive (deleted) users

- if @users.any?
  %table
    %tr
      %th type
      %th account
      %th username
      %th last name
      %th first name
      %th permissions
      %th email
      %th phone
      %th address
      %th designations
      %th{:colspan => 4} actions

    - @users.each do |u|
      - next if !u.deleted?
      %tr
        %td= u.type.name[ /^Daitss::(\w+)$/, 1].downcase rescue u.type.name
        %td&= u.account.id
        %td&= u.id
        %td&= u.last_name
        %td&= u.first_name
        %td= u.type == Contact ? u.permissions.join(" ") : "N/A"
        %td&= u.email
        %td&= u.phone
        %td&= u.address
        %td= (u.is_tech_contact ? "Technical Contact\n" : "") + (u.is_admin_contact ? "Admin Contact" : "")
        %td
          %a{:href => "/admin/users/#{u.id}"}
            modify


