%a{:name => 'projects'}
  %h2
    create new project

%form#create-project{:action => '/admin', :method => 'POST'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-project'}
  %select{:name=>'account_id'}
    - @accounts.each do |a|
      %option= a.id
  %input{:name => 'id', :value=>"project id"}
  %input{:name => 'description', :value=>"project description"}
  %input{:type => 'submit', :value => 'Create project'}

%h2 existing projects

- if @projects.any?
  %table
    %tr
      %th id
      %th description
      %th account
      %th modify
      %th delete

    - @projects.each do |p|
      %tr
        %td&= p.id
        %td&= p.description
        %td&= p.account.id
        %td
          %a{:href => "/admin/projects/#{p.account.id}/#{p.id}"}
            modify project
        %td
          %form{:action => "/admin", :method => 'post'}
            %input{:type => 'hidden', :name => 'task', :value => 'delete-project'}
            %input{:type => 'hidden', :name => 'id', :value => p.id }
            %input{:type => 'hidden', :name => 'account_id', :value => p.account.id }
            %input{:type => 'submit', :value => "Delete"}

