- require 'cgi'

%h1 batches

%hr/

%h2 create new batch

%form{:action => '/batches', :method => 'post'}
  %input{:name => 'name', :value => "batch name"}
  %textarea{:name => 'packages'} insert whitespace separated list of IEIDs here
  %input{:type => 'submit', :value => 'Submit'}

%hr/

%h2 existing batches

- if @batches.any?
  %table
    %tr
      %th batch name
      %th # of packages
      %th disseminate
      %th refresh
      %th withdraw
      %th peek
      %th delete

      - @batches.each do |b|
        %tr
          %td
            %a{:href => "/batches/#{CGI::escape(b.id)}"}= b.id
          %td= b.packages.length
          %td
            %form{:action => "/batches/#{b.id}", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'request-batch'}
              %input{:type => 'hidden', :name => 'type', :value => 'disseminate'}
              %input{:name => 'note'}
              %input{:type => 'submit', :value => "Disseminate", :onClick => "return confirmClick();"}
          %td
            %form{:action => "/batches/#{b.id}", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'request-batch'}
              %input{:type => 'hidden', :name => 'type', :value => 'refresh'}
              %input{:name => 'note'}
              %input{:type => 'submit', :value => "Refresh", :onClick => "return confirmClick();"}
          %td
            %form{:action => "/batches/#{b.id}", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'request-batch'}
              %input{:type => 'hidden', :name => 'type', :value => 'withdraw'}
              %input{:name => 'note'}
              %input{:type => 'submit', :value => "Withdraw", :onClick => "return confirmClick();"}
          %td
            %form{:action => "/batches/#{b.id}", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'request-batch'}
              %input{:type => 'hidden', :name => 'type', :value => 'peek'}
              -#%input{:type => 'submit', :value => "Peek"}
              coming soon
          %td
            %form{:action => "/batches/#{b.id}", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'delete-batch'}
              %input{:type => 'submit', :value => "Delete", :onClick => "return confirmClick();"}
