%h1 #{@batch.id}

%hr/

%h2 modify batch
%form{:action => "/batches/#{@batch.id}", :method => 'post'}
  %input{:type => 'hidden', :name => 'task', :value => 'modify-batch'}
  %textarea{:name => 'packages'} #{@batch.packages.inject(''){|str, p| str + " " + p.id}}
  %input{:type => 'submit', :value => 'Submit'}

%hr/

%h2 submit request

%form{:action => "/batches/#{@batch.id}", :method => 'post'}
  %input{:type => 'hidden', :name => 'task', :value => 'request-batch'}
  %input{:name => 'note', :value => 'request note'}
  %select{:name => 'type'}
    %option disseminate
    %option withdraw
    %option peek
    %option d1refresh
  %input{:type => 'submit', :value => 'Submit Request'}

%hr/

%h2 package list (#{@batch.packages.length} total)

= partial :package_table, :locals => {:packages => @batch.packages }
