%table
  %tr
    %th type
    %th time
    %th agent
    %th comments
    %th notes

  - events.each do |e|
    %tr
      %td= e.polite_name
      %td= e.timestamp.strftime("%a %b %d %Y %I:%M:%S %p")
      %td= e.agent.id
      %td 
        %a{:href => "/events/#{e.id}"}= e.comments.length.to_s + " comment(s)"
      %td
        %pre= e.notes
          
