%h1
  daitss
  = Daitss::VERSION

%form{:action => '/logout', :method => 'POST'}
  %input{:type => 'submit', :value => 'logout'}

%hr

%h2 sip summary

%table
  %tr
    %th count
    %td= Sip.count
  %tr
    %th files
    %td= Sip.sum :number_of_datafiles
  %tr
    %th total size
    %td= sprintf('%.2f', Sip.sum(:size_in_bytes).to_i / 1000000) + " MB"

%hr

%h2 aip summary

%table
  %tr
    %th count
    %td= Aip.count
  %tr
    %th files
    %td= Aip.sum :datafile_count
  %tr
    %th total size
    %td= sprintf('%.2f', Copy.sum(:size).to_i / 1000000) + " MB"

