%img{ :src => '/fda_logo' }

%h1
  daitss
  = Daitss::VERSION

%h2 Notice
%p
  As of 1/7/2014, the Florida Digital Archive is operating under <a href='https://fclaweb.fcla.edu/content/interim-fda-operations'> an interim procedure</a>. Online submission has been disabled during this time.

%hr

%h2
  = "Welcome #{@user.id}"
  
%form{:action => '/logout', :method => 'POST'}
  %input{:type => 'submit', :value => 'logout'}    

  
- if @is_op
  %hr
  %h2 Operator Summary and Breakdown
 
  %table
    %tr
      %th Totals
      %th SIP Count
      %th SIP # Files
      %th SIP Size in MB
      %th AIP Count
      %th AIP # Files
      %th AIP Size in MB
    %tr
      %td 
      %td.dash= Sip.count
      %td.dash= (Sip.sum :number_of_datafiles )
      %td.dash= sprintf('%.2f', Sip.sum(:size_in_bytes).to_f / (1024*1024)).reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse
      %td.dash= Aip.count - Aip.all(:datafile_count  => 0).count - Aip.all(:datafile_count  => nil).count
      %td.dash= Aip.sum :datafile_count
      %td.dash= sprintf('%.2f', Copy.sum(:size).to_f / (1024*1024)).reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse
    %tr
      %th Account
      %th Sip Count
      %th # Files
      %th Total Size in MB
      %th Aip Count
      %th # Files
      %th Total Size in MB
    / - Account.all.each do |act|
    /  %tr
    /    %td= "#{act.id}"
    /    %td.dash= act.projects.packages.sips.all.count
    /    %td.dash= (act.projects.packages.sips.all.sum :number_of_datafiles)
    /    %td.dash= sprintf('%.2f', act.projects.packages.sips.all.sum(:size_in_bytes).to_f / (1024*1024))
    /    %td.dash= act.projects.packages.aips.count - act.projects.packages.aips.all(:datafile_count => 0).count - act.projects.packages.aips.all(:datafile_count => nil).count
    /    %td.dash= act.projects.packages.aips.all.sum :datafile_count
    /    %td.dash= sprintf('%.2f', act.projects.packages.aips.copys.all.sum(:size).to_f / (1024*1024))
  
      
- else
  %h2
    = "SIP summary for account: #{@user.account.id}"
  SIP summary includes all archival submission attempts including rejected packages.  
  %table
    %tr
      %th count
      %td.dash= @user.packages.sips.all.count
    %tr
      %th files
      %td.dash= (@user.packages.sips.all.sum :number_of_datafiles)
    %tr
      %th total size
      %td.dash= sprintf('%.2f', @user.packages.sips.all.sum(:size_in_bytes).to_f / (1024*1024)).reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse + " MB"
  %h2
    = "AIP summary for account: #{@user.account.id}"
  AIP summary consists of all packages currently archived.
  %table
    %tr
      %th count
      %td.dash= @user.packages.aips.count - @user.packages.aips.all(:datafile_count => 0).count - @user.packages.aips.all(:datafile_count => nil).count
    %tr
      %th files
      %td.dash= @user.packages.aips.all.sum :datafile_count
    %tr
      %th total size
      %td.dash= sprintf('%.2f', @user.packages.aips.copys.all.sum(:size).to_f / (1024*1024)).reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse + " MB"
    
