%h1 wip summary

%table
  %tr
    %th count
    %td= @archive.workspace.to_a.size

  %tr
    %th running
    %td= @archive.workspace.select { |w| w.running? }.size
  %tr
    %th snafu
    %td= @archive.workspace.select { |w| w.snafu? }.size
%hr

%h1 sip summary

%table
  %tr
    %th count
    %td= Sip.count
  %tr
    %th files
    %td= Sip.sum :number_of_datafiles
  %tr
    %th total size
    %td= Sip.sum :size_in_bytes

%hr

%h1 aip summary

%table
  %tr
    %th count
    %td= Aip.count
  %tr
    %th files
    %td= Aip.sum :datafile_count
  %tr
    %th total size
    %td= Aip.sum :copy_size

