%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Molengo", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :type =>"text/css", :media =>"screen, projection"}

    %title Workspace Monitor (new boss)
  %body
    #content
      #navigation
        %a.overview{ :href => '/' } overview
        = ":"
        %a{ :href => '/submit' } submit
        = ":"
        %a{ :href => '/packages' } packages
        = ":"
        %a{ :href => '/workspace' } workspace
        = ":"
        %a{ :href => '/stashspace' } stashspace
        = ":"
        %a{ :href => '/admin' } admin
        %hr
      #non-navigationx
        = yield
