%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans+Mono",
          :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold",
          :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold,italic,bolditalic",
          :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :type =>"text/css", :media =>"screen, projection"}

    %title
      daitss
      = Daitss::VERSION
  %body
    %nav
      = navlink 'dashboard', '/'
      = ":"
      = navlink 'packages', '/packages'
      = ":"
      = navlink 'workspace', '/workspace'
      = ":"
      = navlink 'stashspace', '/stashspace'
      = ":"
      = navlink 'batches', '/batches'
      = ":"
      = navlink 'log', '/log'
      = ":"
      = navlink 'admin', '/admin'

      %span#logo (logo)


    #content
      = yield

    %footer
      %span#daitss-branding
        (daitss branding)

      %span#daitss-version
        %a{ :href => 'http://github.com/daitss/core' }
          = Daitss::VERSION
