%h1
  %span.package
    = @package.id
  = ": "

  - if @package.rejected?
    rejected

  - elsif @package.migrated_from_pt?
    rejected

  - elsif @package.wip

    - if @package.wip.stashed?
      %a{:href=>"/stashspace/#{@package.wip.bin.id}/#{@package.wip.id}"} stashed
    - else
      %a{:href=>"/workspace/#{@package.wip.id}"} ingesting

  - elsif @package.aip
    archived

  - else
    busted

%table
  %tr
    %th sip name
    %th account
    %th project
  %tr
    %td= @package.sip.name
    %td= @package.project.account.id
    %td= @package.project.id

%h2 events

%table
  %tr
    %th type
    %th time
    %th notes
    %th agent
  - @package.events.each do |e|
    %tr
      %td= e.name
      %td= e.timestamp
      %td
        %pre= e.notes
      %td= e.agent.id

- if @ingest_time
  %h2 ingest stats

  %table
    %tr
      %th name
      %th value
    %tr
      %td elapsed time
      %td= @ingest_time

- if @package.aip

  #request
    %h2 requests

    - if @package.requests.any?
      %table
        %tr
          %th time
          %th type
          %th note
          %th authorized
          %th request submitter
          %th status
          %th &nbsp;

        - @package.requests.each do |r|
          %tr
            %td= r.timestamp
            %td= r.type
            %td= r.note
            %td= r.is_authorized ? "yes" : "no"
            %td= r.agent.id
            %td= r.status
            - if r.status == :enqueued
              %td
                %form{:action => "/package/#{@package.id}/request/#{r.id}", :method => 'POST'}
                  %input{:type => 'hidden', :name => 'task', :value => 'delete'}
                  %input{:type => 'submit', :value => 'Cancel'}
            - else
              %td &nbsp;

    %form{:action => "/package/#{@package.id}/request", :method => 'POST'}
      %select{:name=>'type'}
        %option= 'disseminate'
        %option= 'withdraw'
        %option= 'peek'
      %input{:name => 'note'}
      %input{:type => 'submit', :value => 'Request'}


  - aip = @package.aip

  %h2 aip

  %table
    %tr
      %th descriptor
      %td
        %a{:href=>"/package/#{@package.id}/descriptor"} mets descriptor

    %tr
      %th copy url
      %td
        %a{ :href => aip.copy.url }
          = @package.id + ".tar"
    %tr
      %th ingest report
      %td
        %a{:href=>"/package/#{@package.id}/ingest_report"}
          = "ingest report download"

    %tr
      %th copy size
      %td= aip.copy.size
    %tr
      %th copy sha1
      %td= aip.copy.sha1
    %tr
      %th copy md5
      %td= aip.copy.md5
    %tr
      %th number of datafiles
      %td= aip.datafile_count
