%h1
  %span.package
    = "Datafiles in package " + @package.id

%a{:href => "/package/#{@package.id}"}
  = "Back to package details for " + @package.id

%hr

- if @package.intentity
  %table
    %tr
      %th
        AIP file ID
      %th
        Datafile name
      %th
        Origin
      %th
        Size 
      %th
        Flags
      %th
        Create date

    - datafiles = @package.intentity.datafiles.sort do |a, b|
      - if a.is_sip_descriptor
        - -1
      - elsif b.is_sip_descriptor 
        - 1
      - else
        - a.original_path <=> b.original_path
   

    - datafiles.each do |df|
      %tr
        %td= df.id
        %td= df.original_path.gsub!(/^sip-files\//, '')
        %td= df.origin

        - if df.size > 1_000_000_000_000
          - size = sprintf("%5.2f TB",  df.size / 1_000_000_000_000.0)
        - elsif df.size > 1_000_000_000
          - size = sprintf("%5.2f GB",  df.size / 1_000_000_000.0)
        - elsif df.size > 1_000_000
          - size = sprintf("%5.2f MB",  df.size / 1_000_000.0)
        - elsif df.size > 1_000
          - size = sprintf("%5.2f KB",  df.size / 1_000.0)
        - else
          - size = sprintf("%5.2f B",   df.size)     
   
        %td= size.strip

        %td= "SIP Descriptor" if df.is_sip_descriptor

        %td= df.create_date

