#forms
  #submit
    %h1 submit

    %form{:action => '/package', :method => 'POST', :enctype => 'multipart/form-data'}
      %table
        %tr
          %th File
          %td
            %input{:type => 'file', :name => 'sip'}

        %tr
          %th Batch
          %td
            %input{:name => 'batch_id'}

        %tr
          %th Note
          %td
            %textarea{:name => 'note'}


      %input{:type => 'submit', :value => 'Submit'}
    %p
      packages must be in
      %strong
        %em tar
      or
      %strong
        %em zip
      format

  #search
    %h1 search

    %form
      %table
        %tr
          %th ieid or package name
          %td
            %input#search{:type => 'text', :name => 'search', :value => @query}
      %input{:type => 'submit', :value => "Search"}

    %p
      %strong
        %em aip
      or
      %strong
        %em sip
      separated by spaces.

%form{:action => "/packages", :method => "get"}
  %input{:type => 'hidden', :name => 'filter', :value => 'true'}
  %table
    %tr
      %th batch
      %th account
      %th project
      %th start date
      %th end date
      %th activity
      %th set scope
    %tr
      %td
        %select{:name => 'batch-scope'}
          %option 
          - Batch.all.each do |b|
            - if @params["batch-scope"] == b.id
              %option{:selected => true}= b.id
            - else
              %option= b.id
      %td
        %select{:name => 'account-scope'}
          %option 
          - Account.all.each do |a|
            - if @params["account-scope"] == a.id
              %option{:selected => true}= a.id
            - else
              %option= a.id
      %td
        %select{:name => 'project-scope'}
          %option 
          - Project.all.each do |p|
            - if @params["project-scope"] == p.id + "-" + p.account.id
              %option{:selected => true} #{p.id}-#{p.account.id}
            - else
              %option #{p.id}-#{p.account.id}
      %td
        %input#start_date{:name => 'start_date', :value => @params['start_date']}

      %td
        %input{:name => 'end_date', :value => @params['end_date']}

      %td
        %select{:name => 'activity-scope'}
          %option 
          %option archived
          %option submit
          %option reject
          %option snafu
          %option disseminated
          %option withdrawn
          - if @params["activity-scope"]
            %option{:selected => true}= @params['activity-scope'] 

      %td
        %input{:type => 'submit', :value => 'Set Scope'}
%hr/

#results
  %h1
    - if @query
      results
      (
      = @packages.size
      )

    - else
      latest activity

  - unless @packages.empty?
    = partial :package_table, :locals => {:packages => @packages }

  %form{:action => '/batches', :method => 'post'}
    %input{:name => 'name', :value => "batch name"}
    %input{:type => 'hidden', :name => 'packages', :value => "#{@packages.inject(''){|str, p| str + " " + p.id}}"}
    %input{:type => 'submit', :value => 'Save as Batch'}
