#package
  %h1
    = @sip.ieid

  - if @wip or @stashed_wip
    - if @wip
      .processing
        processing
        %a{:href=>"/workspace/#{@wip.id}"}= @wip.task

    - elsif @stashed_wip
      .processing
        stashed
        %a{:href=>"/stashspace/#{@bin.url_name}/#{@stashed_wip.id}"}= @stashed_wip.task
  - else
    .processing
      no jobs processing or stashed

  %h2 submission

  %table
    %tr
      %th sip
      %td= @sip.package_name
    %tr
      %th account
      %td ...
    %tr
      %th project
      %td ...

  %h2 events

  %table
    %tr
      %th type
      %th time
      %th note
    - @events.each do |e|
      %tr
        %td= e.event_name
        %td= e.timestamp
        %td= e.notes

  - if @aip
    %h2 aip

    %h3
      %a{:href=>"/package/#{@aip.id}/descriptor"} xml descriptor

    %table
      %tr
        %th copy url
        %td
          %a{ :href => @aip.copy_url }
            =@aip.copy_url
      %tr
        %th copy size
        %td= @aip.copy_size
      %tr
        %th copy sha1
        %td= @aip.copy_sha1
      %tr
        %th copy md5
        %td= @aip.copy_md5
      %tr
        %th number of datafiles
        %td= @aip.datafile_count
