%form{:action => "/packages", :method => "get"}
  %input{:type => 'hidden', :name => 'filter', :value => 'true'}
    %input{:type => 'hidden', :name => 'account-scope', :value => user.account.id }
  %table
    %tr
      %th project
      %th start date
      %th end date
      %th activity
      %th set scope
    %tr
      %td
        %select{:name => 'project-scope'}
          %option
          - user.account.projects.all.each do |p|
            - if params["project-scope"] == p.id + "-" + p.account.id
              %option{:selected => true} #{p.id}-#{p.account.id}
            - else
              %option #{p.id}-#{p.account.id}
      %td
        - if params['start_date']
          %input#start_date{:name => 'start_date', :value => params['start_date']}
        - else
          %input#start_date{:name => 'start_date', :value => (Time.now - 60 * 60 * 24 * 4).strftime("%m/%d/%Y")}

      %td
        - if params['end_date']
          %input{:name => 'end_date', :value => params['end_date']}
        - else
          %input{:name => 'end_date', :value => (Time.now + 60 * 60 * 24).strftime("%m/%d/%Y") }

      %td
        %select{:name => 'activity-scope'}
          %option
          %option archived
          %option submitted
          %option rejected
          %option error
          %option disseminated
          %option withdrawn
          - if params["activity-scope"]
            %option{:selected => true}= params['activity-scope']

      %td
        %input{:type => 'submit', :value => 'Set Scope'}
%hr/

