#package
  %h1
    = @sip.ieid

  - if @wip
    .processing
      currently processing
      %a{:href=>"/workspace/#{@wip.id}"}= @wip.task

  %h2 submission

  %table
    %tr
      %th sip
      %td= @sip.package_name
    %tr
      %th account
      %td ...
    %tr
      %th project
      %td ...

  %h2 events

  %table
    %tr
      %th type
      %th time
      %th note
    - @events.each do |e|
      %tr
        %td= e.event_name
        %td= e.timestamp
        %td= e.notes

  - if @aip
    %h2 aip

    %h3
      %a{:href=>"/package/#{@aip.id}/descriptor"} xml descriptor

    %table
      %tr
        %th copy url
        %td= @aip.copy_url
      %tr
        %th copy size
        %td= @aip.copy_size
      %tr
        %th copy sha1
        %td= @aip.copy_sha1
      %tr
        %th copy md5
        %td= @aip.copy_md5
      %tr
        %th number of datafiles
        %td= @aip.datafile_count
