%h1
  %span.package
    = @package.id
  = ": "

  - if @package.rejected?
    rejected

  - elsif @package.migrated_from_pt?
    see package history below

  - elsif @package.wip

    - if @package.wip.stashed?
      %a{:href=>"/stashspace/#{@package.wip.bin.id}/#{@package.wip.id}"} stashed
    - else
      %a{:href=>"/workspace/#{@package.wip.id}"} ingesting (#{@package.wip.state})

  - elsif @package.aip
    archived
    - if @package.d1?
      (legacy)

  - else
    busted

%table
  %tr
    %th sip name
    %th account
    %th project

  %tr
    %td
      %a{:href => "/packages?search=#{@package.sip.name}"} #{@package.sip.name}
    %td= @package.project.account.id
    %td= @package.project.id

%h2 events

= partial :events_table, :locals => {:events => @package.normal_events }

%h2 legacy events

= partial :events_table, :locals => {:events => @package.legacy_events }

%br
- unless @fixity_events
  %a{:href => "/package/#{@package.id}?fixity_events=true"}
    show fixity events
- else
  %a{:href => "/package/#{@package.id}"}
    hide fixity events

  %h2 fixity events

  = partial :events_table, :locals => {:events => @package.fixity_events }

- if @ingest_time
  %h2 ingest stats

  %table
    %tr
      %th name
      %th value
    %tr
      %td elapsed time
      %td= @ingest_time



  - aip = @package.aip

  - if @package.d1?

    %h2 legacy aip

    %table

      - if @is_op
        %tr
          %th copy url
          %td
            %a{ :href => (aip.copy ? aip.copy.url : "#") }
              = @package.id + ".tar"

      %tr
        %th copy md5
        %td= aip.copy ? aip.copy.md5 : "N/A"

    %h2 legacy refresh

    %table
      %tr
        %th time
        %th type
        %th note
        %th authorized
        %th submitter
        %th status
        %th &nbsp;
      - @package.requests.each do |r|
        %tr
          %td= r.timestamp
          %td= r.type
          %td= r.note
          %td= r.is_authorized ? "yes" : "no"
          %td= r.agent.id
          %td= r.status
          - if r.status == :enqueued
            %td
              %form{:action => "/package/#{@package.id}/request/#{r.id}", :method => 'POST'}
                %input{:type => 'hidden', :name => 'task', :value => 'delete'}
                %input{:type => 'submit', :value => 'Cancel'}
          - else
            %td &nbsp;
    - unless @package.requests.all( :status.not => :cancelled ).any?
      %h2 request refresh
      %form{:action => "/package/#{@package.id}/request", :method => 'POST'}
        %input{:type => 'hidden', :name => 'type', :value => 'd1refresh'}
        %table
          %tr
            %th note
            %td
              %textarea{:name => 'note'}
        %input{:type => 'submit', :value => 'Request'}


  - else
    - if @package.aip

      #request
        %h2 requests

        - if @package.requests.any?
          %table
            %tr
              %th time
              %th type
              %th note
              %th authorized
              %th request submitter
              %th status
              %th &nbsp;

            - @package.requests.each do |r|
              %tr
                %td= r.timestamp
                %td= r.type
                %td= r.note
                %td= r.is_authorized ? "yes" : "no"
                %td= r.agent.id
                %td= r.status
                - if r.status == :enqueued
                  %td
                    %form{:action => "/package/#{@package.id}/request/#{r.id}", :method => 'POST'}
                      %input{:type => 'hidden', :name => 'task', :value => 'delete'}
                      %input{:type => 'submit', :value => 'Cancel'}
                - else
                  %td &nbsp;

        - if @is_op
          %h2 submit request
          %form{:action => "/package/#{@package.id}/request", :method => 'POST'}
            %select{:name=>'type'}
              %option= 'disseminate'
              -#%option= 'withdraw'
              -#%option= 'peek'
            %input{:name => 'note'}
            %input{:type => 'submit', :value => 'Request'}

    %h2 aip

    %table
      %tr
        %th title
        %td= @package.intentity.title 

      - if @package.intentity.volume != ""
        %tr
          %th volume
          %td= @package.intentity.volume

      - if @package.intentity.issue != ""
        %tr
          %th issue
          %td= @package.intentity.issue

      - if @is_op
        %tr
          %th aip descriptor
          %td
            %a{:href=>"/package/#{@package.id}/descriptor"} mets descriptor

      %tr
        %th descriptor errata
        %td
          %pre= aip.xml_errata || 'N/A'

      - if @is_op
        %tr
          %th copy url
          %td
            %a{ :href => (aip.copy ? aip.copy.url : "#") }
              = @package.id + ".tar"
      %tr
        %th ingest report
        %td
          %a{:href=>"/package/#{@package.id}/ingest_report"}
            = "ingest report"
            
      %tr
        %th ingest report stylesheet
        %td
          %a{:href=>"/daitss_report_xhtml.xsl"}
            = "ingest report stylesheet"

      %tr
        %th aip size
        %td= aip.copy ? aip.copy.size : "N/A"

      - if @is_op
        %tr
          %th copy sha1
          %td= aip.copy ? aip.copy.sha1 : "N/A"
        %tr
          %th copy md5
          %td= aip.copy ? aip.copy.md5 : "N/A"
        
      %tr
        %th number of datafiles
        %td= aip.datafile_count

      %tr
        %th number of submitted datafiles
        %td= @package.sip.submitted_datafiles

- if @is_op
  - if @package.dips.any?
    %h2 dips
  
    %table
      %tr
  
      - @package.dips.each do |dip|
        %tr
          %td
            %a{:href=>"/package/#{@package.id}/dip/#{dip}"}= dip
