#forms
  #submit
    %h1 submit
    %p
      packages must be in
      %strong
        %em tar
      or
      %strong
        %em zip
      format
      %br
      Uncompressed package size must be less than
      %strong
        %em= "%.1f GB." %[archive.max_file_size.to_f/1073741824] 
        
    %form{:action => '/package', :method => 'POST', :enctype => 'multipart/form-data'}
      %table
        %tr
          %th File
          %td
            %input{:type => 'file', :name => 'sip', :size => 50}
        %tr
          %th Batch
          %td
            %input{:name => 'batch_id'}

        %tr
          %th Note
          %td
            %textarea{:name => 'note'}


        %tr
          %th &nbsp;
          %td 
            %input{:type => 'submit', :value => 'Submit'}

  #search
    %h1 search

    %p
      %strong
        %em aip
      or
      %strong
        %em sip
      separated by spaces.

    %form
      %table
        %tr
          %th ieid or package name
          %td
            %input#search{:type => 'text', :name => 'search', :value => @query}
      %input{:type => 'submit', :value => "Search"}

- if @is_op
  = partial :package_filter_table_op, :locals => {:params => @params }
- else
  = partial :package_filter_table_affilate, :locals => {:params => @params, :user => @user }

#results

  - if @query or @filter
    = partial :package_stats, :locals => {:packages => @packages }

  - else
    %h2
      latest activity

  - unless @packages.empty?
    = partial :package_table, :locals => {:packages => @packages }

  - if @is_op
    %h2 Save as Batch
    %form{:action => '/batches', :method => 'post'}
      %input{:name => 'name', :value => "batch name"}
      %input{:type => 'hidden', :name => 'packages', :value => "#{@packages.inject(''){|str, p| str + " " + p.id}}"}
      %input{:type => 'submit', :value => 'Save as Batch'}
