%h1 search packages

%form
  %input#search{:type => 'text', :name => 'search', :value => @query}
  %input{:type => 'submit', :value => "Search"}

  %p
    %strong
      %em aip
    or
    %strong
      %em sip
    separated by spaces.

    Example:
    %code UF2543330 E2009_00FJ543

%hr/

- if @results

  %h2
    results (#{@results.size})

  %ol.results
    - @results.each do |p|
      %li
        %h3
          %a{:href => "/package/#{p.ieid}"}= p.ieid
- else

  %h2 latest activity

  %table
    %tr
      %th package
      %th account
      %th project
      %th activity
    - @latest.each do |p|
      %tr
        %td
          %a{:href => "/package/#{p.ieid}"}= p.ieid
        %td= p.project.account.code
        %td= p.project.code
        %td= p.operations_events.last.event_name
