#package
  %h1
    = @sip.ieid

  - if @wip
    .processing
      currently processing
      %a{:href=>"/workspace/#{@wip.id}"}= @wip.task

  %h2 submission

  %table
    %tr
      %th sip
      %td= @sip.package_name
    %tr
      %th account
      %td ...
    %tr
      %th project
      %td ...

  %h2 events

  %table
    %tr
      %th type
      %th time
    - @events.each do |e|
      %tr
        %td= e.event_name
      %tr
        %th time
        %td= e.timestamp

  %h2 aip

