%form{:action => "/package_csv", :method => "GET"}
  %input{:name => 'packages', :type => 'hidden', :value => packages.inject(''){|str, p| str + " " + p.id}}
  %input{:type => 'submit', :value => 'Download CSV'}

%table
  %tr
    %th intellectual entity id (ieid) 
    %th package
    %th account
    %th project
    %th size (MB)
    %th # of datafiles
    %th latest activity
    %th time
    %th title
    %th volume
    %th issue
  - packages.each do |p|
    %tr
      %td
        %a{:href => "/package/#{p.id}"}= p.id
      %td
        %a{:href => "/package?search=#{p.sip.name}"}= p.sip.name 
      %td= p.project.account.id
      %td= p.project.id
      %td= sprintf('%.2f', p.sip.size_in_bytes.to_f / 1000000)
      %td= p.sip.number_of_datafiles
      - latest_event = p.normal_events.last
      - if latest_event
        %td= latest_event.polite_name
        %td= latest_event.timestamp.strftime("%a %b %d %Y %I:%M:%S %p")
      - else
        %td 
          daitss v.1 provenance
        - last_legacy_event = p.legacy_events.last(:name => "legacy operations data")
        %td= last_legacy_event.timestamp.strftime("%a %b %d %Y %I:%M:%S %p")
      - if p.intentity
        %td= p.intentity.title
        %td= p.intentity.volume
        %td= p.intentity.issue
      - else
        %td= "n/a"
        %td= "n/a"
        %td= "n/a"