%h1
  requests

%h2 filter request scope

%form{:action => "/requests", :method => "get"}
  %table
    %tr
      %th batch
      %th account
      %th project
      %th user
      %th request type
      %th request status
      %th set scope
    %tr
      %td
        %select{:name => 'batch-scope'}
          %option all
          - Batch.all.each do |b|
            - if @params["batch-scope"] == b.id
              %option{:selected => true}= b.id
            - else
              %option= b.id
      %td
        %select{:name => 'account-scope'}
          %option all
          - Account.all.each do |a|
            - if @params["account-scope"] == a.id
              %option{:selected => true}= a.id
            - else
              %option= a.id
      %td
        %select{:name => 'project-scope'}
          %option all
          - Project.all.each do |p|
            - if @params["project-scope"] == p.id + "-" + p.account.id
              %option{:selected => true} #{p.id}-#{p.account.id}
            - else
              %option #{p.id}-#{p.account.id}
      %td
        %select{:name => 'user-scope'}
          %option all
          - User.all.each do |u|
            - if @params["user-scope"] == u.id
              %option{:selected => true} #{u.id}
            - else
              %option #{u.id}
      %td
        %select{:name => 'type-scope'}
          %option all
          %option disseminate 
          %option withdraw 
          %option peek
          - if @params["type-scope"]
            %option{:selected => true}= @params['type-scope'] 
      %td
        %select{:name => 'status-scope'}
          %option all
          %option enqueued
          %option released 
          %option cancelled
          - if @params["status-scope"]
            %option{:selected => true}= @params['status-scope'] 
      %td
        %input{:type => 'submit', :value => 'Set Scope'}
  

#list
  - if @all == true
    %h2 request list (all displayed)
  - else
    %h2 request list (top 100 displayed)
    - @requests = @requests[0, 99]

  %a{:href => "/requests?display_all=true"}
    display all

  %a{:href => "/requests"}
    display 100


  - if @requests.any?
    %table
      %tr
        %th id
        %th intellectual entity id (ieid)
        %th package
        %th project
        %th request type
        %th requesting user
        %th request status
        %th authorized?
        %th request timestamp
        - #%th latest package activity
        - #%th package activity timestamp

      - def request_sort_order r
        - if r.is_authorized == false and r.status == :enqueued then 1.0 
        - elsif r.status == :enqueued then 2.0 
        - else 3.0 + (1 / r.id.to_f)

      - @requests.sort! do |a, b|
        - request_sort_order(a) <=> request_sort_order(b)
    
      - @requests.each do |r|
        %tr
          %td= r.id
          %td 
            %a{:href => "/package/#{r.package.id}"}= r.package.id
          %td= r.package.sip.name
          %td= r.package.project.id
          %td= r.type
          %td= r.agent.id
          %td= r.status
          %td= r.is_authorized
          %td= r.timestamp.strftime("%a %b %d %Y %I:%M:%S %p")
          - #e = r.package.events.first(:order => [:timestamp.desc])
          - #%td= e.name
          - #%td= e.timestamp.strftime("%a %b %d %Y %I:%M:%S %p")
