#wip
  %h1
    stashed
    = @wip.task
    of
    %a{:href => "/package/#{@wip.id}"}
      = @wip.id

  - if @wip.snafu?
    = haml :wip_snafu, :layout => false

  %hr/

  %h2 progress
  = haml :wip_progress, :layout => false
  %hr/

  #update-form
    %form{:action => "/stashspace/#{@bin.url_name}/#{@wip.id}", :method => 'post'}
      %input#task-start{:type => 'hidden', :name => 'unstash[]', :value => @wip.id }
      %input{:type => 'submit', :value => "Unstash"}
