= partial :"wip-scope-table", :locals => { :params => @params, :action => "/stashspace/#{@bin.id}"}
%h1
  stash bin:
  = @bin.name

#update-form

  %form{:action => "/stashspace/#{@bin.id}", :method => 'post'}
    %input{:type => 'submit', :value => "unstash all"}

#results
  - unless @wips.empty?
    = partial :wip_table, :locals => { :space => "stashspace/#{@bin.id}", :wips => @wips }
