#stashbin
  %h1
    stash bin:
    = @bin.name

  %table#packages
    - @bin.wips.each do |w|
      %tr
        %td
          %a{:href => "/stashspace/#{@bin.url_name}/#{w.id}"}= w.id
        %td= w['sip-name']
        %td= w.task
        %td= w.state
