#wip
  %h1
    = @wip.task
    of
    %a{:href => "/package/#{@wip.id}"}
      = @wip.id
    (
    = @wip.state
    )

  - if @wip.snafu?
    = partial :wip_snafu

  - elsif @wip.dead?
    = partial :wip_dead

  #update-form
    %form{:action => "/workspace/#{@wip.id}", :method => 'post'}

      %input#task-start{:type => 'radio', :name => 'task', :value => 'start'}
      %label{:for => 'task-start'} start
      %input#task-stop{:type => 'radio', :name => 'task', :value => 'stop'}
      %label{:for => 'task-stop'} stop
      %input#task-unsnafu{:type => 'radio', :name => 'task', :value => 'unsnafu'}
      %label{:for => 'task-unsnafu'} reset
      %input#state-stash{:type => 'radio', :name => 'task', :value => 'stash'}
      %label{:for => 'state-stash'} stash
      %select{:name => 'stash-bin'}
        - @bins.each do |bin|
          %option= bin.name
      %textarea#note{:name => 'note'}
      %label{:for => 'note'}
      %input{:type => 'submit', :value => "Update"}

  %hr/

  %h2 progress
  = partial :wip_progress
