- space ||= 'workspace'
%table
  %tr
    %th package
    %th sip
    %th task
    %th status
    %th time
  - wips.each do |w|
    %tr
      %td
        %code
          %a{:href => "/#{space}/#{w.id}"}= w.id

      %td= w.package.sip.name
      %td= w.task
      %td= w.state
      - if File.directory?(w.path)
        %td= File.atime(w.path)
      - else
        %td
          &nbsp;

