- case @wip.task
- when :ingest, :disseminate
  %table.progress
    %tr
      %th step
      %th progress
    %tr
      %td virus check
      %td= @wip.progress :virus_check
    %tr
      %td describe original files
      %td= @wip.progress :describe_original
    %tr
      %td migrate original files
      %td= @wip.progress :migrate_original
    %tr
      %td normalize original files
      %td= @wip.progress :normalize_original
    %tr
      %td describe transformed files
      %td= @wip.progress :describe_transformed
    %tr
      %td xml resolution
      %td= @wip.progress :xmlres
    %tr
      %td assemble descriptor
      %td= @wip.progress :descriptor
    %tr
      %td save aip
      %td= @wip.progress :save

- else
  %p unknown progress
