= partial :"wip-scope-table", :locals => { :params => @params, :action => "/workspace"}
%hr/

%h1
  update jobs

#update-form

  %form{:action => '/workspace', :method => 'post'}
    - if @params['filter']
      %input{:name => 'filter', :type => 'hidden', :value => 'true'}
      - @wips.each do |w|
        %input{:name => 'wips[]', :type => 'hidden', :value => w.id}
        
    %input#state-start{:type => 'radio', :name => 'task', :value => 'start'}
    %label{:for => 'state-start'} start

    %input#state-stop{:type => 'radio', :name => 'task', :value => 'stop'}
    %label{:for => 'state-stop'} stop

    %input#state-unsnafu{:type => 'radio', :name => 'task', :value => 'unsnafu'}
    %label{:for => 'state-unsnafu'} reset

    %input#state-doover{:type => 'radio', :name => 'task', :value => 'doover'}
    %label{:for => 'state-doover'} do over

    %input#state-stash{:type => 'radio', :name => 'task', :value => 'stash'}
    %label{:for => 'state-stash'} stash

    %select{:name => 'stash-bin'}
      - @bins.each do |bin|
        %option= bin.name

    %textarea#note{:name => 'note'}
    %label{:for => 'note'}

    %input{:type => 'submit', :value => "Update"}

%hr/

- idle_wips = @wips.find_all { |w| w.state == :idle }

#idles
  %h2
    idle jobs: 
    = idle_wips.length

  - total = idle_wips.inject(0) {|sum, w| sum + Sip.first(:package_id => w.id).size_in_bytes }
  - if total > 1_000_000_000_000
    %h2= sprintf("size: %5.2f TB",  total / 1_000_000_000_000.0)
  - elsif total > 1_000_000_000
    %h2= sprintf("size: %5.2f GB",  total / 1_000_000_000.0)
  - elsif total > 1_000_000
    %h2= sprintf("size: %5.2f MB",  total / 1_000_000.0)
  - elsif total > 1_000
    %h2= sprintf("size: %5.2f KB",  total / 1_000.0)
  - else
    %h2= sprintf("size: %5.2f B",   total)     
   
  - ingest_count = 0
  - d1refresh_count = 0
  - disseminate_count = 0
  - withdraw_count = 0
  - peek_count = 0

  - idle_wips.each do |w|
    - ingest_count += 1 if w.task == :ingest 
    - d1refresh_count += 1 if w.task == :d1refresh
    - disseminate_count += 1 if w.task == :disseminate
    - withdraw_count += 1 if w.task == :withdraw
    - peek_count += 1 if w.task == :peek

  %table
    %tr
      %th
        task
      %th
        count
    %tr
      %td
        ingest
      %td= ingest_count
    %tr
      %td
        d1refresh
      %td= d1refresh_count
    %tr
      %td
        disseminate
      %td= disseminate_count
    %tr
      %td
        withdraw
      %td= withdraw_count

- @wips = @wips - idle_wips

#results
  %h2
    active jobs: 
    = @wips.size

  %h3
    running:
    = archive.workspace.select(&:running?).size
    &nbsp;
    throttles:
    &nbsp;
    = throttles(:ingest)
    &nbsp;
    = throttles(:dissemination)
    &nbsp;
    = throttles(:withdrawal)
    &nbsp;
    = throttles(:d1refresh)

    - unless @wips.empty?
      = partial :wip_table, :locals => { :wips => @wips  }
