#workspace
  %h1
    update all packages

  .ui-widget
    #update-form
      %form{:action => '/workspace', :method => 'post'}

        %input#state-start{:type => 'radio', :name => 'task', :value => 'start'}
        %label{:for => 'state-start'} start
        %br/
        %input#state-stop{:type => 'radio', :name => 'task', :value => 'stop'}
        %label{:for => 'state-stop'} stop
        %br/
        %input#state-unsnafu{:type => 'radio', :name => 'task', :value => 'unsnafu'}
        %label{:for => 'state-unsnafu'} unsnafu
        %br/
        %br/
        %input{:type => 'submit', :value => "Update"}

  %hr/

  %h1 current packages
  %table#packages
    -#%tr
      -#%th id
      -#%th sip id
      -#%th task
      -#%th status
    - settings.workspace.each do |w|
      %tr
        %td
          %a{:href => "/workspace/#{w.id}"}
            = w.id
        %td= w['sip-name']
        %td= w.task
        %td= w.state
