= partial :"wip-scope-table", :locals => { :params => @params, :action => "/workspace"}
%hr/

%h1
  update jobs

#update-form

  %form{:action => '/workspace', :method => 'post'}
    - if @params['filter']
      %input{:name => 'filter', :type => 'hidden', :value => 'true'}
      - @wips.each do |w|
        %input{:name => 'wips[]', :type => 'hidden', :value => w.id}
        
    %input#state-start{:type => 'radio', :name => 'task', :value => 'start'}
    %label{:for => 'state-start'} start

    %input#state-stop{:type => 'radio', :name => 'task', :value => 'stop'}
    %label{:for => 'state-stop'} stop

    %input#state-unsnafu{:type => 'radio', :name => 'task', :value => 'unsnafu'}
    %label{:for => 'state-unsnafu'} reset

    %input#state-doover{:type => 'radio', :name => 'task', :value => 'doover'}
    %label{:for => 'state-doover'} do over

    %input#state-stash{:type => 'radio', :name => 'task', :value => 'stash'}
    %label{:for => 'state-stash'} stash

    %select{:name => 'stash-bin'}
      - @bins.each do |bin|
        %option= bin.name

    %textarea#note{:name => 'note'}
    %label{:for => 'note'}

    %input{:type => 'submit', :value => "Update"}

%hr/

#results
  %h2
    jobs:
    = @wips.size
    &nbsp;
    running:
    = archive.workspace.select(&:running?).size
    &nbsp;
    throttles:
    &nbsp;
    = throttles(:ingest)
    &nbsp;
    = throttles(:dissemination)
    &nbsp;
    = throttles(:withdrawal)
    &nbsp;
    = throttles(:d1refresh)

    - unless @wips.empty?
      = partial :wip_table, :locals => { :wips => @wips }
