.actions
  - if @active
    =link_to :action => :index, :inactive => true do
      inactive users
      &rarr;
  - else
    =link_to :action => :index do
      active users
      &rarr;

  =link_to :action => :new do
    add user
    &rarr;

%ul.index

  - @users.each do |u|

    %li
      .user_icon= gravatar u, :size => 40
      .user_id= link_to u.id, user_path(u.id)
      .user_name
        = "#{u.last_name}, #{u.first_name}"
      .user_account= link_to u.account.id, account_path(u.account)
