.actions
  =link_to :action => :new do
    add user
    &rarr;

%ul.users

  - @users.each do |u|

    %li
      .icon= gravatar u, :size => 40
      .id= link_to u.id, user_path(u.id)
      .name
        = "#{u.last_name}, #{u.first_name}"
      .x= link_to u.account.id, '#' #account_path(u.account.id)
