.user
  %div
    .icon= gravatar @user
    .profile
      %h1.name
        = @user.first_name
        = @user.last_name
      %h2.account= link_to @user.account.description, account_path(@user.account)

  %p.description
    %em
      - if @user.description
        = @user.description
      - else
        no description available

  .properties

    .property
      .name role:
      .value= roles @user

    .property
      .name email:
      .value= mail_to @user.email

    .property
      .name address:
      .value= @user.address

    .property
      .name phone:
      .value= link_to @user.phone, "tel:#{@user.phone}"

.actions

  =link_to :action => :edit do
    edit profile
    &rarr;
