.user
  %div
    .icon= gravatar @user
    .profile
      %h1.name
        = @user.first_name
        = @user.last_name
      %h2.account= link_to @user.account.description, '#'

  %p.description
    - if @user.description
      = @user.description
    - else
      %em no description available

  .info
    %div
      .label role:
      .field= roles @user
    %div
      .label email:
      .field= mail_to @user.email
    %div
      .label address:
      .field
        - @user.address.split("\n").each do |line|
          %div=line
    %div
      .label phone:
      .field= link_to @user.phone, "tel:#{@user.phone}"

  .actions
    =link_to '#' do
      edit profile
      &rarr;
