%ul#welcome_menu
  %li.disabled= link_to 'activity', '#'
  %li.disabled= link_to 'lists', '#'
  %li= link_to 'packages', packages_path
  %li= link_to 'users', users_path
  %li= link_to 'accounts', accounts_path
  %li= link_to 'admin logs', adminlogs_path
  %li= link_to 'settings', settings_path
  %li.logout= link_to "logout #{@current_user.id}", {:controller => :login, :action => :logout}, :method => :post
