%h1 Settings

= form_for :settings do |f|
  - @non_servers.each do |s|
    .setting
      = f.label s.id
      = f.text_field s.id, :value => s.value
  - @servers.each do |s|
    .setting
      = f.label s.id
      = f.text_field s.id, :value => s.value
  = f.submit
