= form_for :project, :url => account_projects_path(@account.id) do |f|

  = f.hidden_field 'account_id', :value => @account.id

  .field
    = f.label 'id'
    = f.text_field 'id'

  .field
    = f.label 'description'
    = f.text_field 'description'

  .field
    = f.label ' '
    = f.submit 'Add Project'

