<?xml version="1.0" encoding="UTF-8"?>
<mets OBJID="<%= name %>"
      xmlns="http://www.loc.gov/METS/"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.loc.gov/METS/ http://www.loc.gov/standards/mets/mets.xsd
                          info:lc/xmlns/premis-v2 http://www.loc.gov/standards/premis/premis.xsd">

  <amdSec>
  <!-- aip metadata -->
  <% 
    @metadata.each do |id, doc|
      md_section id, doc
    end 
  %>

  <!-- file metadata -->
  <% 
    @files.each do |f|
      f.metadata.each do |id, doc|
        md_section id, doc
      end
    end
  %>
  </amdSec>
	
  <fileSec>
    <fileGrp>
    <% files.each do |f| %>
      <file ID='<%= f.id %>' 
            OWNERID='<%= f.sip_id %>' 
            ADMID='<%= f.metadata.keys.join ' ' %>'>
        <FLocat LOCTYPE='URL' xlink:href='<%=f.path%>'/>
      </file>
    <% end %>
    </fileGrp>
  </fileSec>

  <structMap ID="representation/original">
    <% r = representation_original %>
    <div ADMID='<%= metadata.keys.join ' ' %>'>
    <% r.files.each do |f| %>
      <fptr FILEID='<%= f.id %>'/>
    <% end %>
    </div>
  </structMap>

  <structMap ID="representation/current">
    <% r = representation_current %>
    <div>
    <% r.files.each do |f| %>
      <fptr FILEID='<%= f.id %>'/>
    <% end %>
  </structMap>

  <structMap ID="representation/normalized">
    <% r = representation_normalized %>
    <div>
    <% r.files.each do |f| %>
      <fptr FILEID='<%= f.id %>'/>
    <% end %>
  </structMap>

</mets>
