%h1= @account.id
%em= @account.description

%h2 projects

%ul.index
  - @account.projects.each do |p|
    %li= link_to p.id, account_project_path(@account.id, p.id)

= form_for :project, :url => account_projects_path(@account) do |f|

  = f.hidden_field 'account_id', :value => @account.id

  .field
    = f.label 'id'
    = f.text_field 'id'

  .field
    = f.label 'description'
    = f.text_field 'description'

  .field
    = f.label ' '
    = f.submit 'Add Project'

.actions

  =link_to :action => :edit do
    edit account
    &rarr;
